Repository isejalabs/renovate-test, changes with the labels that .github/labeler.yml gives for each.
All labels: env: base, env: prod, env: qa, env: dev, env: poc

feat(terragrunt): added vehagn-k8s PoC
  terragrunt/_envcommon/README.md
  terragrunt/_envcommon/talos-proxmox.hcl
  terragrunt/_envcommon/vehagn-k8s.hcl
  terragrunt/_envcommon/vms.hcl
  terragrunt/dev/env.hcl
  terragrunt/dev/vehagn-k8s/terragrunt.hcl
Labels: env: dev

feat(terragrunt): added vms and missing files
  terragrunt/README.md
  terragrunt/poc/env.hcl
  terragrunt/poc/vms/.terraform.lock.hcl
  terragrunt/poc/vms/terragrunt.hcl
  terragrunt/terragrunt.hcl
Labels: env: poc

fix(vms): changed to new repo URL
  terragrunt/poc/vms/terragrunt.hcl
Labels: env: poc

feat(renovate): disableRateLimiting
  renovate.json5
Labels: none

fix(renovate): only rebase when conflicted
  renovate.json5
Labels: none

feat(mongodb): pin to v8
  renovate.json5
Labels: none

refactor(renovate): moved config file to sub-folder
  .github/renovate.json5
Labels: none

ci(renovate): add package name to commit scope
  .github/renovate.json5
Labels: none

ci(renovate): use parentDir for commit scope
  .github/renovate.json5
Labels: none

test(renovate): terragrunt commitScope
  .github/renovate.json5
Labels: none

test(renovate): terragrunt commitScope w/o default
  .github/renovate.json5
Labels: none

Revert "test(renovate): terragrunt commitScope w/o default"
  .github/renovate.json5
Labels: none

test(renovate): printout manager
  .github/renovate.json5
Labels: none

ci(renovate): commitScope w/ matchFileNames
  .github/renovate.json5
Labels: none

ci(renovate): enable semantic commits
  .github/renovate.json5
Labels: none

test(unifi): downgrade
  k8s/apps/unifi-controller/base/deployment-db.yaml
Labels: env: base

test without semanticCommits enabled
  .github/renovate.json5
  k8s/apps/unifi-controller/base/deployment-db.yaml
Labels: env: base

ci(renovate): remove default assignee
  .github/renovate.json5
Labels: none

feat(renovate): automerge for pinDigest and digest only
  .github/renovate.json5
Labels: none

feat(renovate): separateMinorPatch
  .github/renovate.json5
Labels: none

.github/labeler.yml:

# vim:sw=2:ts=2:expandtab:ai
---
# Environment
"env: base":
  - changed-files:
      - any-glob-to-any-file:
        - "k8s/**/base/**"
"env: prod":
  - changed-files:
      - any-glob-to-any-file: 
        - "k8s/**/envs/prod/**"
        - "terragrunt/prod/**"
"env: qa":
  - changed-files:
      - any-glob-to-any-file: 
        - "k8s/**/envs/qa/**"
        - "terragrunt/qa/**"
"env: dev":
  - changed-files:
      - any-glob-to-any-file: 
        - "k8s/**/envs/dev/**"
        - "terragrunt/dev/**"
"env: poc":
  - changed-files:
      - any-glob-to-any-file: 
        - "k8s/**/envs/poc/**"
        - "terragrunt/poc/**"
